<ul id="menu">
    <li>
        <a [routerLink]="['/home']">Home</a>
    </li>
    <li>
        <a [routerLink]="['/listaproductos']">
            Productos Model
        </a>
    </li>
    <li>
        <a [routerLink]="['/numerodoble']">
            Número doble SIN
        </a>
    </li>
    <li>
        <a [routerLink]="['/numerodoble/7']">
            Doble 7
        </a>
    </li>
    <li>
        <a [routerLink]="['/musica']">Musica</a>
    </li>
    <li>
        <a [routerLink]="['/cine']">Cine</a>
    </li>
    <li>
        <a [routerLink]="['/television']">Televisión</a>
    </li>
</ul>
